.in_intro {
    width: 100%;
    height: 700px;
    background-image: url(pictures/general/wallpaperbetter.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.in_intro .intro_header {
    position: absolute;
    margin: 50px 50px;
    font-size: 25px;
    width: fit-content;
    /* background-color: var(--navy); */
    padding: 26.5px;
    animation-name: intro_animation;
    animation-duration: 1.5s;
    left: 0;
    /* backdrop-filter: blur(5px); */
}

@keyframes intro_animation {
    from   {opacity: 0; left:-500px;}
    to  {opacity: 1; left:0px;}
}

.in_intro .intro_header h1 {
    color: var(--yellow);
    cursor: default;
}

.in_intro .intro_header h1 span .fa {
    transform: rotate(140deg);
    font-size: 30px;
}

#header_br {
    display: none;
}

.in_intro .intro_header p {
    margin: 10px 0;
    color: var(--grey_blue);
    /* text-decoration: underline var(--navy); dashed */
    /* border-bottom: 2px solid var(--navy); */
}

.about {
    width: 90%;
    margin: 30px auto;
}

.about .paragraphs {
    column-count: 2;
}

.about p {
    font-size: 18px;
    margin: 20px 0;
    color: var(--dark_grey);
    line-height: 27px;
}

.programming_languages {
    width: 90%;
    margin: 30px auto;
    position: relative;
    /* animation-name: lang_animation;
    animation-duration: 1.5s;
    right: 0; */
}

/* @keyframes lang_animation {
    from   {opacity: 0; right:-500px; top:0px;}
    to  {opacity: 1; right:0px; top:0px;}
} */

.programming_languages .progress {
    border: 1px solid var(--navy);
    /* border-radius: 5px; */
    width: 40%;
    float: none;
    margin: 30px auto;
    display: block;
    padding: 20px;
    background-color: var(--grey_blue);
}

.programming_languages .progress h3 {
    color: var(--navy);
    border-left: 2px solid var(--yellow);
    padding-left: 5px;
    margin-bottom: 20px;
}

.programming_languages .progress p {
    margin-top: 10px;
    /* border: 2px solid blue; */
    color: var(--navy);
}

.programming_languages .progress .fa {
    float: right;
    padding-left: 5px;
    color: var(--yellow);
}

.programming_languages .progress .fa-star-o {
    color: var(--navy);
}

.work {
    width: 90%;
    margin: 30px auto;
}

.all_slideshow_container {
    margin: 50px 0;
}

.above-slideshow {
    width: 90%;
    margin: 30px auto;
}

.slideshow-container .mySlides {
    display: none;
}

.slideshow-container img {
    vertical-align: middle;
    height: 400px;
    width: 100%;
    object-fit: contain;
}

/* Slideshow container */
.slideshow-container {
  max-width: fit-content;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #ffb019;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  /* width: 100%; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--navy_transparent);
  width: fit-content;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ffb019;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--navy_transparent);
  width: fit-content;
  top: 8px;
  right: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #0c2542;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active {
  background-color: #ffb019;
}

/* Fading animation */
.fade {
  animation-name: fade;
  background-color: #0c2542;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.view_btn {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
}

.view_btn a button {
    padding: 10px 40px;
    background-color: transparent;
    color: var(--navy);
    border: 1px solid var(--navy);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.view_btn a button:hover {
    background-color: var(--yellow);
}

.view_btn a button span {
    padding-left: 5px;
}

.senior_project {
    width: 90%;
    height: 300px;
    margin: 30px auto;
    background-image: url(pictures/general/5576341_2891676.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.senior_content {
    position: absolute;
    margin: 50px 400px;
    width: 40%;
}

.senior_project h1 {
    font-size: 35px;
    color: var(--yellow);
}

.senior_project .senior_btn {
    margin: 40px 0;
}

.senior_project .senior_btn a {
    text-decoration: none;
}

.senior_project .senior_btn a button {
    padding: 10px 40px;
    background-color: var(--navy_transparent);
    color: var(--yellow);
    border: 2px solid var(--yellow);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.senior_project .senior_btn a button:hover {
    background-color: transparent;
}

.senior_project .senior_btn a button .fa {
    padding-left: 10px;
    color: var(--yellow);
}



.cats_senior_overlay {
    width: 100%;
    margin: 30px auto;
    height: 400px;
}

.cat_senior_overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--grey_blue);
    /* padding: 20px; */
}

.cat_senior_overlay a {
    text-decoration: none;
}

.cat_senior_overlay .image_senior_overlay {
    width: 100%;
    height: 100%;
}

.cat_senior_overlay .image_senior_overlay img {
    width: 100%;
    display: block;
    height: 100%;
    filter: brightness(0.5);
}

.cat_senior_overlay h3 {
    display: none;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--navy_transparent);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.cat_senior_overlay:hover .overlay {
    height: 100%;
}

.overlay .text {
    color: var(--yellow);
    font-size: 35px;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay .text .fa {
    padding-left: 5px;
    color: var(--yellow);
}

.education {
    width: 90%;
    margin: 30px auto;
}

.education table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--navy);
}

th, td {
    border: 1px solid var(--grey_blue);
    padding: 20px;
}

@media screen and (max-width: 414px) {
    .in_intro {
        width: 100%;
        height: 400px;
        background-image: url(pictures/general/wallpaperbetter\ copy.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .in_intro .intro_header {
        position: relative;
        width: 80%;
        display: block;
        margin: 0 auto;
        font-size: var(--resp_nav);
        padding: 26.5px;
        text-align: center;
        backdrop-filter: none;
    }
    .in_intro .intro_header h1 {
        color: var(--yellow);
        line-height: 45px;
    }
    #header_br {
        display: block;
    }
    .in_intro .intro_header p {
        margin: 10px 0;
        color: var(--grey_blue);
        /* text-decoration: underline var(--navy); */
        font-size: 18px;
    }
    .about .paragraphs {
        column-count: 1;
    }
    .programming_languages .progress {
        border: 1px solid var(--navy);
        width: 90%;
        float: none;
        margin: 30px auto;
        display: block;
        padding: 20px 10px;
        background-color: var(--grey_blue);
    }
    .programming_languages .progress p {
        margin-top: 10px;
        color: var(--navy);
        font-size: 13px;
    }
    .all_slideshow {
        margin: 20px auto;
        box-sizing: border-box;
        width: 90%;
    }
    .senior_project {
        width: 90%;
        height: 300px;
        margin: 30px auto;
        background-image: url(pictures/general/5576341_2891676.jpg);
        background-size: 150%;
        background-attachment: unset;
        background-repeat: no-repeat;
        position: relative;
    }
    .senior_content {
        position: absolute;
        margin: 50px 20px;
        width: 90%;
    }
    .senior_project h1 {
        font-size: 20px;
        color: var(--yellow);
        margin: 30px auto;
        width: 100%;
        text-align: center;
    }
    .senior_project .senior_btn {
        margin: 10px auto;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .senior_project .senior_btn a button {
        padding: 8px 30px;
        border: 1px solid var(--yellow);
        background-color: var(--navy);
        font-size: 18px;
    }
    .education table img {
        display: block;
        margin: 0 auto;
    }
    th {
        display: block;
    }
    td {
        display: flex;
    }
}

@media screen and (max-width: 414px) {
    .cats_senior_overlay {
        width: 90%;
        margin: 30px auto;
        height: fit-content;
        display: block;
        column-count: 1;
        column-gap: unset;
    }
    .cat_senior_overlay {
        width: 100%;
        border: 1px solid var(--grey_border);
        border-radius: 5px;
        background-color: var(--grey_blue);
        padding: 0;
        margin: 20px 0;
    }
    .cat_senior_overlay .image_senior_overlay img {
        width: 100%;
        border-radius: unset;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    .overlay {
        display: none;
    }
    .cat_senior_overlay:hover .overlay {
        display: none;
    }
    .overlay .text {
        display: none;
    }
    .cat_senior_overlay h3 {
        display: block;
        color: var(--navy);
        text-align: center;
        margin: 20px auto;
        width: 90%;
        text-decoration: none;
    }
    .cat_senior_overlay h3 .fa {
        padding-left: 5px;
        color: var(--navy);
    }
}